<%- include('../../shared/includes/head', {pageTitle: 'Application Status'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Application Status</h1>
        
    </main>
<%- include('../../shared/includes/footer') %>