<%- include('../../shared/includes/head', {pageTitle: 'Manage Jobs'}) %>
<link rel="stylesheet" href="/styles/jobs.css">
<script src="/scripts/job-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Job Administration</h1>
        <section>
            <h2>Manage Jobs</h2>
            <p>
                <a href="/admin/jobs/new" class="btn">Add Job</a>
            </p>
        </section>
        <section>
            <ul id="jobs-grid">
                <% for (const job of jobs) { %>
                    <li>
                        <%- include('../../shared/includes/job-item', {job: job}) %>
                    </li>
                <% } %>
            </ul>
        </section>
    </main>
<%- include('../../shared/includes/footer') %>