<%- include('../../shared/includes/head', {pageTitle: 'Manage Jobs'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Job Administration</h1>
        <section>
            <h2>Manage Jobs</h2>
            <p>
                <a href="/admin/jobs/new" class="btn">Add Job</a>
            </p>
        </section>
        <section>
            <p>A list of jobs</p>
        </section>
    </main>
<%- include('../../shared/includes/footer') %>