<%- include('../../shared/includes/head', {pageTitle: 'Add Job'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Add New Job</h1>
        <%- include('includes/job-form', {submitPath: '/admin/jobs', job: {
            id: '',
            title: '',
            companyname: '',
            location: '',
            summary: '',
            description: '',
            experience: '',
            salary: '',
            jobtype: '',
            worktype: '',
            interviewtype: ''
        },
        imageRequired: true}) %>
    </main>
<%- include('../../shared/includes/footer') %>