<%- include('../../shared/includes/head', {pageTitle: 'Jobs'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Get The Right Job</h1>
        <h1>You Deserve</h1>
        
    </main>
    
<%- include('../../shared/includes/footer') %>