img {
    width: 10rem;
    height: 10rem;
    object-fit: fill;
}

#face {
    text-align: center;
}
#face h1{
    margin: 0;
}

hr{
	border: 1px solid var(--color-blue-300);
}



main h2{
	text-align: left;
	
}

form .form-group {
	margin-top: 0.7rem;
}

form .form-inline{
	display: flex;
	justify-content: space-between;
}
form .form-inline.flex{
	display: flex;
	justify-content: start;
	margin-bottom: 0.5rem;
}
form .form-inline.flex input{
	width: unset;
	margin-right: 0.5rem;
}

form label{
	color: var(--color-blue-600);
	display: block;
	margin-bottom: 0.5rem;
}
form .form-group input,
form .form-group select,
form .form-group textarea{
	width: 90%;
    font: inherit;
    padding: var(--space-1);
    border-radius: var(--border-radius-small);
	border: none;
}
form input:focus,
form select:focus,
form textarea:focus{
	outline: 1px solid var(--color-blue-300);
	border: 1xp solid transparent;
}

#application-action {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

input[type="file"]::file-selector-button {
    border: 2px solid var(--color-blue-600);
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-medium);
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
  }
  
  input[type="file"]::file-selector-button:hover,
  input[type="file"]::file-selector-button:active {
    background-color: var(--color-blue-400);
    
  }

  @media (min-width: 48rem) { 
	img {
		width: 40rem;
		height: 10rem;
		object-fit: contain;
	}
	main .application-form{
		max-width: fit-content;
		margin: var(--space-2) auto;
		padding: var(--space-4);
	}
	
	main .application-form .application-form-detail{
		width: 100%;
	}
	main .application-form .application-form-detail h4{
		display: block;
		color: var(--color-blue-30);
		background-color: var(--color-blue-300);
		text-transform: uppercase;
		padding: 0.3rem;
		margin-bottom: 1rem;
	}
	form .form-group{
		margin: 1rem 0.5rem;
		width: calc(100% - 1rem);
	}
	
	form .form-inline.flex{
		margin-bottom: 1rem;
	}
	form .form-inline.flex input{
		margin-right: 1rem;
	}
	form .form-inline .form-group{
		width: 48%;
	}
	
	#application-action {
		display: flex;
		justify-content: space-between;
	}
	form .form-group input,
form .form-group select,
form .form-group textarea{
	width: 100%;
    padding: var(--space-2);
}
   }