h1{
    text-align: center;
    color: var(--color-blue-100);
}

form {
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--color-blue-200);
    border-radius: var(--border-radius-medium);
    text-align: center;
}

form a:hover,
form a:active {
    color: var(--color-blue-400);
}
