#jobs-grid {
    margin: var(--space-8) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--space-4);
}
.job-item {
    padding: var(--space-4);
    border-radius: var(--border-radius-medium);
    text-align: center;
    background-color: var(--color-blue-200);  
}

.job-item img {
    width: 3rem;
    height: 3rem;
    object-fit: fill;
}

.job-main-content {
    display: flex;
    gap: var(--space-4);
    margin-bottom: var(--space-4);
}

.job-item h2, h3 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

.job-item h3 {
    font-size: 0.80rem;
    font-weight: lighter;
    margin-top: var(--space-1);
}

#worktype {
  float: left;
  padding: var(--space-1);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-blue-20);
  background-color: var(--color-blue-300);
  color: var(--color-blue-20);
}

.job-actions {
    display: flex;
    gap: var(--space-2);
    justify-content: right;
}

.job-actions a, .job-actions  button {
    padding: var(--space-1);
}

.job-actions a:hover,
.job-actions a:active,
 .job-actions button:hover,
 .job-actions button:active
  {
    font-weight: 400;
}

#job-detail-card {
    margin-top: var(--space-4);
    padding: var(--space-4);
    background-color: var(--color-blue-40);
  }


  #job-detail-card img {
    width: 8rem;
    height: 8rem;
    object-fit: fill;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-blue-20);
  }

  #job-info{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  #job-info h2, h3, h4{
    margin: 0.2rem 0;
  }

  #job-info h3{
    padding: var(--space-1);
    border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-blue-20);
  background-color: var(--color-blue-300);
  color: var(--color-blue-20);
  }

  #job-info h4{
    font-size: 0.80rem;
    font-weight: 400;
  }
  
  #job-description {
    background-color: var(--color-blue-20);
    margin: var(--space-4) 0 var(--space-4);
    padding: var(--space-4);
    text-align: left;
  }
  
  #job-description p {
    white-space: pre-wrap;
  }

  .save {
    border: none;
    padding: var(--space-1) var(--space-4);
    float: right;
  }
  
  #job-details  {
    align-items: center;
  }

  #Login-Apply {
    padding: var(--space-1) 0;
    text-align: center;
    color: var(--color-primary-500-contrast);
    background-color: var(--color-blue-300);
  }


  @media (min-width: 48rem) {
    #job-detail-card {
      width: 25%;
      height: fit-content;
     }
     #job-description {
      width: 75%;
      padding-top: 0;
    }
    #job-details {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4);
   }
   #job-info h2, h3, h4{
    margin: 0.5rem 0;
  }
  #job-description .btn{
    float: right;

  }
   
  }